* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.6;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #e0dcdc; 
    height: 60px; 
    box-sizing: border-box;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0px 0px 0px 800px; 
    display: flex;
    gap: 40px; 
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a {
    text-decoration: none;
    color: #363636;
    transition: color 0.2s;
  }
  
  .navbar a.active,
  .navbar a:hover {
    color: #a5c32a; 
  }
  
.verde {
    background-color: #a4d041;
    height: 100%;
    width: 5%;   
}
 
@media screen and (max-width: 768px){
    .navbar{
        width:100%;
        flex-direction:  column;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #e0dcdc;
}

::-webkit-scrollbar-thumb {
    background-color: #a4d041;
    border-radius: 8px;
}
.fundo_verde {
    position: absolute;
    top: 50%;
    right: 0;
    height: 62%;
    width: 100%;
    background-color: #a4d041; 
    z-index: 1;
}

h1 {
  text-align: right;
  margin-right: 280px;
  margin-top: 100px;
  font-size: 40px;
  color: #363636;
}

.imagem {
  position: absolute;
  height: 90%;
  margin-top: -90px;
  overflow: hidden;
  margin-left: 50px;
  z-index: 2;
  border-radius: 8px;
}
.contatos {
  text-align: left;
  margin-left: 900px;
  margin-top: 60px;
  color: #fff;
}

.item-contato {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 15px; 
}

.icone {
  width: 5%; 
  height: 5%; 
}
.icone1{
  width: 6%;
  height: 10%;
}

